* {
  margin:0;
  padding:0;
  border-box: box-sizing;
}

body {
  height: 100vh;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
